body {
    background-color: #f8f9fa;
    font-family: 'Roboto', sans-serif;
}

.candy-container {
    padding: 40px;
    background-color: #ffffff;
    border-radius: 8px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 0.1);
}

.candy-title {
    color: #28a745;
    font-size: 2rem; 
    font-weight: bolder;
}

.nav-title {
    font-size: 2rem;
    background: linear-gradient(90deg, #ff7f50, #1e90ff);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    background-clip: text;
    color: transparent;
}


.card {
    transition: transform 0.3s;
}

.card:hover {
    transform: scale(1.05); 
}

/* CSS Animation for Table Rows */
.table-row {
    opacity: 0; 
    transform: translateY(10px); 
    animation: fadeInRows 1s ease forwards; 
    transition: transform 0.3s, background-color 0.3s; 
}
.table-row:hover {
    background-color: #f1f1f1; 
    transform: scale(1.02); 
}

@keyframes fadeInRows {
    from {
        opacity: 0;
        transform: translateY(10px); 
    }
    to {
        opacity: 1;
        transform: translateY(0); 
    }
}

.btn-warning {
    background-color: #ffc107; 
    border: none;
}

.btn-danger {
    background-color: #dc3545; 
    border: none;
}

.candy-card {
    border-radius: 8px; 
}

.card-title {
    color: #495057; 
}
